 global
  log 127.0.0.1 local0
  maxconn 4000
  daemon
  uid 99
  gid 99

defaults
  log     global
  mode    http
  option  httplog
  option  dontlognull
  timeout server 5s
  timeout connect 5s
  timeout client 5s
  stats enable
  stats refresh 10s
  stats uri /stats

frontend http-in
    bind *:80
    reqadd X-Forwarded-Proto:\ http
    default_backend app_server

frontend https_frontend
  bind *:443 ssl crt /etc/haproxy/ssl/ssl.pem
  mode http
  option httpclose
  option forwardfor
  reqadd X-Forwarded-Proto:\ https
  default_backend app_server

backend app_server
  mode http
  balance roundrobin
  cookie SERVERID insert indirect nocache
  server s1 10.77.10.47:80 check cookie s1
  server s2 10.77.10.49:80 check cookie s2
